[req]
prompt = no
default_md = sha256
default_bits = 2048
distinguished_name = dn
x509_extensions = v3_req

[dn]
[req]
prompt = no
default_md = sha256
default_bits = 2048
distinguished_name = dn
x509_extensions = v3_req

[dn]
C = TW
ST = Taiwan
L = Taipei
O = Sysco
OU = IT Department
emailAddress = admin@domain
CN = domain

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = domain
DNS.2 = *.domain
